<div class="card">
  <div data-controller="slideshow" data-slideshow-current-slide-class="slide--current">
    <div class="card__buttons">
      <button data-action="slideshow#previous"> ← </button>
      <button data-action="slideshow#next"> → </button>
    </div>

    <div data-slideshow-target="slide" class="slide">🐵</div>
    <div data-slideshow-target="slide" class="slide">🙈</div>
    <div data-slideshow-target="slide" class="slide">🙉</div>
    <div data-slideshow-target="slide" class="slide">🙊</div>
  </div>
</div>

